/* components */
@import "components/status-bar.css";
@import "components/screen-header.css";
@import "components/nav-bar.css";

/* screen */
@import "screen/home-box.css";
@import "screen/asset-box.css";
@import "screen/consumption-box.css";
@import "screen/investment-box.css";
@import "screen/etc-box.css";
@import "screen/etc-btn.css";
@import "screen/personal-info.css";
body {
  height: 215vh;
  margin: 0;
  background-color: rgba(128, 128, 128, 0.15);
}
h2 {
  margin: 0;
}
main {
  padding: 0 10px;
}
