.all-page__list {
  list-style: none;
}
.all-page__list-column i {
  width: 30px;
}
.all-page__list-column {
  margin: 20px 0px 30px 0px;
}
.all-page__list-column span:last-of-type {
  font-weight: 600;
  color: rgba(0, 0, 0, 0.9);
}
.all-page__list {
  padding: 0px;
}
.all-page__list-title {
  font-weight: 600;
  font-size: 20px;
}
.all-page {
  padding-top: 30px;
  border-top: 1px solid rgb(0, 0, 0, 0.1);
}
